<div class="charset-checkers">
	<div class="checkersboard">
		<div class="check1"><span></span></div>
		<div class="check2"><span></span></div>
		<div class="check3"><span></span></div>
		<div class="check4"><span></span></div>
		<div class="check5"><span></span></div>
		<div class="check6"><span></span></div>
		<div class="check7"><span></span></div>
		<div class="check8"><span></span></div>

		<div class="check9"><span></span></div>
		<div class="check10"><span></span></div>
		<div class="check11"><span></span></div>
		<div class="check12"><span></span></div>
		<div class="check13"><span></span></div>
		<div class="check14"><span></span></div>
		<div class="check15"><span></span></div>
		<div class="check16"><span></span></div>

		<div class="check17"><span></span></div>
		<div class="check18"><span></span></div>
		<div class="check19"><span></span></div>
		<div class="check20"><span></span></div>
		<div class="check21"><span></span></div>
		<div class="check22"><span></span></div>
		<div class="check23"><span></span></div>
		<div class="check24"><span></span></div>

		<div class="check25"><span></span></div>
		<div class="check26"><span></span></div>
		<div class="check27"><span></span></div>
		<div class="check28"><span></span></div>
		<div class="check29"><span></span></div>
		<div class="check30"><span></span></div>
		<div class="check31"><span></span></div>
		<div class="check32"><span></span></div>

		<div class="check33"><span></span></div>
		<div class="check34"><span></span></div>
		<div class="check35"><span></span></div>
		<div class="check36"><span></span></div>
		<div class="check37"><span></span></div>
		<div class="check38"><span></span></div>
		<div class="check39"><span></span></div>
		<div class="check40"><span></span></div>

		<div class="check41"><span></span></div>
		<div class="check42"><span></span></div>
		<div class="check43"><span></span></div>
		<div class="check44"><span></span></div>
		<div class="check45"><span></span></div>
		<div class="check46"><span></span></div>
		<div class="check47"><span></span></div>
		<div class="check48"><span></span></div>

		<div class="check49"><span></span></div>
		<div class="check50"><span></span></div>
		<div class="check51"><span></span></div>
		<div class="check52"><span></span></div>
		<div class="check53"><span></span></div>
		<div class="check54"><span></span></div>
		<div class="check55"><span></span></div>
		<div class="check56"><span></span></div>

		<div class="check57"><span></span></div>
		<div class="check58"><span></span></div>
		<div class="check59"><span></span></div>
		<div class="check60"><span></span></div>
		<div class="check61"><span></span></div>
		<div class="check62"><span></span></div>
		<div class="check63"><span></span></div>
		<div class="check64"><span></span></div>
	</div>
	<div class="prose-content">
		<h2>Visualize World Language Support</h2>
		<p>
			Fraunces supports a wide range of languages for global and local
			audiences, including:
			<em
				>Afrikaans, Albanian, Azerbaijani, Basque, Bosnian, Catalan,
				Croatian, Czech, Danish, Dutch, English, Estonian, Faroese,
				Filipino, Finnish, French, Galician, German, Hungarian,
				Icelandic, Indonesian, Irish, Italian, Latvian, Lithuanian,
				Malay, Norwegian Bokmål, Polish, Portuguese, Romanian, Slovak,
				Slovenian, Spanish, Swahili, Swedish, Turkish, Vietnamese,
				Welsh, and Zulu.</em
			>
		</p>
	</div>
</div>
