<div class="charset-checkers">
	<div class="checkersboard">
		<div class="check1"><div class="piece"></div></div>
		<div class="check2"><div class="piece"></div></div>
		<div class="check3"><div class="piece"></div></div>
		<div class="check4"><div class="piece"></div></div>
		<div class="check5"><div class="piece"></div></div>
		<div class="check6"><div class="piece"></div></div>
		<div class="check7"><div class="piece"></div></div>
		<div class="check8"><div class="piece"></div></div>

		<div class="check9"><div class="piece"></div></div>
		<div class="check10"><div class="piece"></div></div>
		<div class="check11"><div class="piece"></div></div>
		<div class="check12"><div class="piece"></div></div>
		<div class="check13"><div class="piece"></div></div>
		<div class="check14"><div class="piece"></div></div>
		<div class="check15"><div class="piece"></div></div>
		<div class="check16"><div class="piece"></div></div>

		<div class="check17"><div class="piece"></div></div>
		<div class="check18"><div class="piece"></div></div>
		<div class="check19"><div class="piece"></div></div>
		<div class="check20"><div class="piece"></div></div>
		<div class="check21"><div class="piece"></div></div>
		<div class="check22"><div class="piece"></div></div>
		<div class="check23"><div class="piece"></div></div>
		<div class="check24"><div class="piece"></div></div>

		<div class="check25"><div class="piece"></div></div>
		<div class="check26"><div class="piece"></div></div>
		<div class="check27"><div class="piece"></div></div>
		<div class="check28"><div class="piece"></div></div>
		<div class="check29"><div class="piece"></div></div>
		<div class="check30"><div class="piece"></div></div>
		<div class="check31"><div class="piece"></div></div>
		<div class="check32"><div class="piece"></div></div>

		<div class="check33"><div class="piece"></div></div>
		<div class="check34"><div class="piece"></div></div>
		<div class="check35"><div class="piece"></div></div>
		<div class="check36"><div class="piece"></div></div>
		<div class="check37"><div class="piece"></div></div>
		<div class="check38"><div class="piece"></div></div>
		<div class="check39"><div class="piece"></div></div>
		<div class="check40"><div class="piece"></div></div>

		<div class="check41"><div class="piece"></div></div>
		<div class="check42"><div class="piece"></div></div>
		<div class="check43"><div class="piece"></div></div>
		<div class="check44"><div class="piece"></div></div>
		<div class="check45"><div class="piece"></div></div>
		<div class="check46"><div class="piece"></div></div>
		<div class="check47"><div class="piece"></div></div>
		<div class="check48"><div class="piece"></div></div>

		<div class="check49"><div class="piece"></div></div>
		<div class="check50"><div class="piece"></div></div>
		<div class="check51"><div class="piece"></div></div>
		<div class="check52"><div class="piece"></div></div>
		<div class="check53"><div class="piece"></div></div>
		<div class="check54"><div class="piece"></div></div>
		<div class="check55"><div class="piece"></div></div>
		<div class="check56"><div class="piece"></div></div>

		<div class="check57"><div class="piece"></div></div>
		<div class="check58"><div class="piece"></div></div>
		<div class="check59"><div class="piece"></div></div>
		<div class="check60"><div class="piece"></div></div>
		<div class="check61"><div class="piece"></div></div>
		<div class="check62"><div class="piece"></div></div>
		<div class="check63"><div class="piece"></div></div>
		<div class="check64"><div class="piece"></div></div>
	</div>
	<div class="prose-content">
		<h2>Language support</h2>
		<p>
			Fraunces supports a wide range of languages for global and local
			audiences, including:
			<em
				>Afrikaans, Albanian, Azerbaijani, Basque, Bosnian, Catalan,
				Croatian, Czech, Danish, Dutch, English, Estonian, Faroese,
				Filipino, Finnish, French, Galician, German, Hungarian,
				Icelandic, Indonesian, Irish, Italian, Latvian, Lithuanian,
				Malay, Norwegian Bokmål, Polish, Portuguese, Romanian, Slovak,
				Slovenian, Spanish, Swahili, Swedish, Turkish, Vietnamese,
				Welsh, and Zulu.</em
			>
		</p>
	</div>
</div>
