<div class="charset-checkers">
	<div class="checkboard">
		<div>A</div>
		<div>C</div>
		<div>E</div>
		<div>G</div>
		<div>I</div>
		<div>L</div>
		<div>N</div>
		<div>O</div>

		<div>a</div>
		<div>c</div>
		<div>e</div>
		<div>g</div>
		<div>i</div>
		<div>l</div>
		<div></div>
		<div>o</div>

		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>

		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div>n</div>
		<div></div>

		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>

		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div>w</div>
		<div></div>
		<div></div>
		<div></div>

		<div>r</div>
		<div>s</div>
		<div>t</div>
		<div>u</div>
		<div></div>
		<div>y</div>
		<div>z</div>
		<div>a</div>

		<div>R</div>
		<div>S</div>
		<div>T</div>
		<div>U</div>
		<div>W</div>
		<div>Y</div>
		<div>Z</div>
		<div>A</div>
	</div>
	<div class="prose-content">
		<h2>Extended Character Set</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
			nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
			volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
			ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
			consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate
			velit esse molestie consequat, vel illum dolore eu feugiat nulla
			facilisis at.
		</p>
	</div>
</div>
