<div class="flip">
	<div class="flip-text">
		Instance Gratification
	</div>

	<ul class="flip-controls">
		<li>
			<h4>Family</h4>
			<ul class="flip-control">
				<li><button type="button" class="active">Fraunces</button></li>
			</ul>
		</li>
		<li>
			<h4>Optical Size</h4>
			<ul class="flip-control">
				<li><button type="button" value="opsz 9">9</button></li>
				<li>
					<button type="button" value="opsz 72" class="active">
						72
					</button>
				</li>
				<li><button type="button" value="opsz 144">144</button></li>
			</ul>
		</li>
		<li>
			<h4>Goofy</h4>
			<ul class="flip-control">
				<li><button type="button" value="GOOF 0">Gmin</button></li>
				<li>
					<button type="button" value="GOOF 50" class="active">
						Gmid
					</button>
				</li>
				<li><button type="button" value="GOOF 100">Gmax</button></li>
			</ul>
		</li>
		<li>
			<h4>Weight</h4>
			<ul class="flip-control">
				<li><button type="button" value="wght 100">Thin</button></li>
				<li><button type="button" value="wght 300">Light</button></li>
				<li>
					<button type="button" value="wght 400" class="active">
						Regular
					</button>
				</li>
				<li>
					<button type="button" value="wght 600">Semibold</button>
				</li>
				<li><button type="button" value="wght 700">Bold</button></li>
				<li><button type="button" value="wght 900">Black</button></li>
			</ul>
		</li>
		<li>
			<h4>Style</h4>
			<ul class="flip-control">
				<li>
					<button type="button" value="style roman" class="active">
						Roman
					</button>
				</li>
				<li>
					<button type="button" value="style italic">Italic</button>
				</li>
			</ul>
		</li>
	</ul>
</div>
