<div class="flip">
	<div class="flip-text" contenteditable spellcheck="false">
		Thank You<br />for Shopping<br />With us!
	</div>

	<div class="flip-controls-container">
		<ul class="flip-controls">
			<li class="flip-controls-family">
				<h4>Family</h4>
				<ul class="flip-control" style="--offset:5">
					<li>
						<button type="button" class="active">Fraunces</button>
					</li>
				</ul>
			</li>
			<li>
				<h4 data-control="144">opsz</h4>
				<ul class="flip-control" style="--offset:4">
					<li>
						<button type="button" value="1 opsz 9.01">9</button>
					</li>
					<li>
						<button type="button" value="2 opsz 72" class="active">
							72
						</button>
					</li>
					<li>
						<button type="button" value="3 opsz 144">144</button>
					</li>
				</ul>
			</li>
			<li>
				<h4 data-control="Gmax">SOFT</h4>
				<ul class="flip-control" style="--offset:4">
					<li>
						<button type="button" value="1 SOFT 0">Gmin</button>
					</li>
					<li>
						<button type="button" value="2 SOFT 50" class="active">
							Gmid
						</button>
					</li>
					<li>
						<button type="button" value="3 SOFT 100">Gmax</button>
					</li>
				</ul>
			</li>
			<li>
				<h4 data-control="Semibold">WGHT</h4>
				<ul class="flip-control" style="--offset:3">
					<li>
						<button type="button" value="1 wght 100">Thin</button>
					</li>
					<li>
						<button type="button" value="2 wght 300">Light</button>
					</li>
					<li>
						<button type="button" value="3 wght 400" class="active">
							Regular
						</button>
					</li>
					<li>
						<button type="button" value="4 wght 600">
							Semibold
						</button>
					</li>
					<li>
						<button type="button" value="5 wght 700">Bold</button>
					</li>
					<li>
						<button type="button" value="6 wght 900">Black</button>
					</li>
				</ul>
			</li>
			<li>
				<h4 data-control="Roman">Style</h4>
				<ul
					class="flip-control flip-control-borderless"
					style="--offset:5"
				>
					<li>
						<button
							type="button"
							value="1 style roman"
							class="active"
						>
							Roman
						</button>
					</li>
					<li>
						<button type="button" value="2 style italic">
							Italic
						</button>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="prose-content">
		<h2>Instance gratification</h2>
		<p>
			With 2 styles (Roman & Italic), 3 optical sizes (144, 72, 9), 3 soft
			styles (S0, S50, S100), and 5 weights (Thin, Light, Regular,
			Semibold, Bold, Black), Fraunces comes with 108 predefined instances
			for easy navigation of the design space
		</p>
	</div>
</div>
