<footer>
	<div class="footer-inner">
		<div class="footer-brought-to-you">
			<a
				aria-label="Project made by Friends of Google Fonts. Follow this link to visit Google Fonts."
				target="_blank"
				rel="noopener"
				href="https://fonts.google.com"
			>
				<img
					src="{% webpackAsset 'img/friends-of-google.svg' %}"
					alt=""
				/>
			</a>
		</div>

		<div class="footer-credits">
			Fraunces © 2020,
			<a rel="noopener" href="http://www.undercase.xyz">Undercase Type</a
			><br /><br />

			Fraunces was designed by
			<a rel="noopener" href="http://www.spencercharles.com"
				>Phaedra Charles</a
			>
			and
			<a rel="noopener" href="http://www.flaviazimbardi.com"
				>Flavia Zimbardi</a
			>, with contributions by
			<a rel="noopener" href="http://www.ethancohenstudio.com"
				>Ethan Cohen</a
			>, and
			<a rel="noopener" href="http://www.andyclymer.com">Andy Clymer.</a
			><br /><br />

			Website by <a rel="noopener" href="https://kabisa.nl">Kabisa</a> in
			collaboration with
			<a rel="noopener" href="http://www.undercase.xyz">Undercase Type</a
			><br /><br />
			Font mastering by
			<a rel="noopener" href="http://www.alphabet-type.com/">Alphabet</a
			><br /><br />
			Content editing and additional writing by
			<a rel="noopener" href="http://www.andysturdevant.com/"
				>Andy Sturdevant</a
			><br /><br />

			Thanks to the teams at Google Design and Google Fonts for their
			support.
		</div>

		<div class="footer-repo-link">
			<a rel="noopener" href="https://github.com/undercasetype/fraunces"
				>github.com/undercasetype/fraunces</a
			>
		</div>
	</div>
</footer>
