<footer>
	<div class="footer-brought-to-you">
		Brought to you by:<br />
		<a href="https://fonts.google.com/"><strong>Google</strong> Fonts</a>
	</div>

	<div class="footer-credits">
		<p>
			Fraunces © 2020,
			<a href="http://www.undercase.xyz">Undercase Type</a><br /><br />

			Fraunces was designed by
			<a href="http://www.spencercharles.com">Spencer Charles</a> and
			<a href="http://www.flaviazimbardi.com">Flavia Zimbardi</a>, with
			contributions by
			<a href="http://www.ethancohenstudio.com">Ethan Cohen</a>, and
			<a href="http://www.andyclymer.com">Andy Clymer.</a><br /><br />

			Website by <a href="https://pixelambacht.nl">Roel Nieskens</a>/<a
				href="https://kabisa.nl"
				>Kabisa</a
			>
			in collaboration with Undercase Type<br /><br />
			Font mastering by
			<a href="http://www.alphabet-type.com/"
				>Benedikt Bramböck/Alphabet</a
			><br /><br />
			Content editing and additional writing by
			<a href="http://www.andysturdevant.com/">Andy Sturdevant</a
			><br /><br />

			Thanks to the teams at Google Design and Google Fonts for their
			support, with special thanks to Dave Crossland and Damien Correll.
		</p>
	</div>

	<div class="footer-repo-link">
		<a href="https://github.com/undercasetype/fraunces"
			>github.com/undercasetype/fraunces</a
		>
	</div>
</footer>
