<footer>
	<div>
		Brought to you by:<br />
		<a href="https://fonts.google.com/" class="gf-link"
			><strong>Google</strong> Fonts</a
		>
	</div>

	<div class="footer-credits">
		<p>
			Fraunces was designed by:<br />
			Spencer Charles & Flavia Zimbardi,
			<a href="#">Undercase Type Foundry</a>
		</p>

		<p>
			With contributions from:<br />
			<a href="https://ethancohenstudio.com/">Ethan Cohen</a> and
			<a href="http://www.andyclymer.com/">Andy Clymer</a>
		</p>

		<p>Mastering by <a href="http://www.alphabet-type.com/">Alphabet</a></p>

		<p>
			Website by <a href="https://pixelambacht.nl">Roel Nieskens</a>/<a
				href="https://kabisa.nl"
				>Kabisa</a
			>
		</p>
	</div>

	<div class="repo-link">
		<a href="https://github.com/undercasetype/fraunces"
			>github.com/undercasetype/fraunces</a
		>
	</div>
</footer>
