<div class="goof-demo interactive-controls">
	<img
		src="{% webpackAsset 'img/hero-stickers-02.svg' %}"
		class="a-touch-of-class-sticker"
		alt=""
	/>
	<div
		class="interactive-controls-text goof-demo-text"
		contenteditable
		spellcheck="false"
	>
		Please<br />
		Wait to<br />
		be Seated
	</div>
	<div class="goof-demo-slider">
		<input
			type="range"
			min="0"
			max="100"
			value="100"
			name="GOOF"
			step="any"
			class="interactive-controls-slider"
			id="goof-slider3"
		/>
		<label for="goof-slider3">GOOF</label>
	</div>
	<div class="prose-content">
		<h2>Born to be goofy</h2>
		<p>
			The Goofy axis controls the “wetness” or “goofiness” of the
			typeface. Although Fraunces is drawn entirely with rounded serifs,
			it achieves sharpness in the “G0” area of the design space with
			extremely high contrast.
		</p>
	</div>
</div>
