<div class="marquee-marq {% if reverse %}reverse{% endif %}">
	<div class="marquee-marq-content">
		<span class="italic black goofymin"
			>Fraunces Italic Black GoofyMin</span
		>
		<span class="black goofymin">Fraunces Black GoofyMin</span>
		<span class="italic bold goofymin">Fraunces Italic Bold GoofyMin</span>
		<span class="bold goofymin">Fraunces Bold GoofyMin</span>
		<span class="italic semibold goofymin"
			>Fraunces Italic Semibold GoofyMin</span
		>
		<span class="semibold goofymin">Fraunces Semibold GoofyMin</span>
		<span class="italic regular goofymin"
			>Fraunces Italic Regular GoofyMin</span
		>
		<span class="regular goofymin">Fraunces Regular GoofyMin</span>
		<span class="italic light goofymin"
			>Fraunces Italic Light GoofyMin</span
		>
		<span class="light goofymin">Fraunces Light GoofyMin</span>
		<span class="italic thin goofymin">Fraunces Italic Thin GoofyMin</span>
		<span class="thin goofymin">Fraunces Thin GoofyMin</span>
		<span class="italic black goofymax"
			>Fraunces Italic Black GoofyMax</span
		>
		<span class="black goofymax">Fraunces Black GoofyMax</span>
		<span class="italic bold goofymax">Fraunces Italic Bold GoofyMax</span>
		<span class="bold goofymax">Fraunces Bold GoofyMax</span>
		<span class="italic semibold goofymax"
			>Fraunces Italic Semibold GoofyMax</span
		>
		<span class="semibold goofymax">Fraunces Semibold GoofyMax</span>
		<span class="italic regular goofymax"
			>Fraunces Italic Regular GoofyMax</span
		>
		<span class="regular goofymax">Fraunces Regular GoofyMax</span>
		<span class="italic light goofymax"
			>Fraunces Italic Light GoofyMax</span
		>
		<span class="light goofymax">Fraunces Light GoofyMax</span>
		<span class="italic thin goofymax">Fraunces Italic Thin GoofyMax</span>
		<span class="thin goofymax">Fraunces Thin GoofyMax</span>
		<span class="italic black goofymid"
			>Fraunces Italic Black GoofyMid</span
		>
		<span class="black goofymid">Fraunces Black GoofyMid</span>
		<span class="italic bold goofymid">Fraunces Italic Bold GoofyMid</span>
		<span class="bold goofymid">Fraunces Bold GoofyMid</span>
		<span class="italic semibold goofymid"
			>Fraunces Italic Semibold GoofyMid</span
		>
		<span class="semibold goofymid">Fraunces Semibold GoofyMid</span>
		<span class="italic regular goofymid"
			>Fraunces Italic Regular GoofyMid</span
		>
		<span class="regular goofymid">Fraunces Regular GoofyMid</span>
		<span class="italic light goofymid"
			>Fraunces Italic Light GoofyMid</span
		>
		<span class="light goofymid">Fraunces Light GoofyMid</span>
		<span class="italic thin goofymid">Fraunces Italic Thin GoofyMid</span>
		<span class="thin goofymid">Fraunces Thin GoofyMid</span>
	</div>
</div>
