{% comment %} The .marquee-marq-content div needs to be in here *twice* for the
animation to run continuously. So when updating .marquee-marq-content, only do
so for the first div, then simply copy/paste it over the second one. {%
endcomment %}
<div class="marquee-marq paused {% if reverse %}reverse{% endif %}">
	<div class="marquee-marq-content">
		<span class="italic black softmin">Italic Black SoftMin</span>
		<span class="black softmin">Regular Black SoftMin</span>
		<span class="italic bold softmin">Italic Bold SoftMin</span>
		<span class="bold softmin">Regular Bold SoftMin</span>
		<span class="italic semibold softmin">Italic Semibold SoftMin</span>
		<span class="semibold softmin">Regular Semibold SoftMin</span>
		<span class="italic regular softmin">Italic Regular SoftMin</span>
		<span class="regular softmin">Regular Regular SoftMin</span>
		<span class="italic light softmin">Italic Light SoftMin</span>
		<span class="light softmin">Regular Light SoftMin</span>
		<span class="italic thin softmin">Italic Thin SoftMin</span>
		<span class="thin softmin">Regular Thin SoftMin</span>
		<span class="italic black softmax">Italic Black SoftMax</span>
		<span class="black softmax">Regular Black SoftMax</span>
		<span class="italic bold softmax">Italic Bold SoftMax</span>
		<span class="bold softmax">Regular Bold SoftMax</span>
		<span class="italic semibold softmax">Italic Semibold SoftMax</span>
		<span class="semibold softmax">Regular Semibold SoftMax</span>
		<span class="italic regular softmax">Italic Regular SoftMax</span>
		<span class="regular softmax">Regular Regular SoftMax</span>
		<span class="italic light softmax">Italic Light SoftMax</span>
		<span class="light softmax">Regular Light SoftMax</span>
		<span class="italic thin softmax">Italic Thin SoftMax</span>
		<span class="thin softmax">Regular Thin SoftMax</span>
		<span class="italic black softmid">Italic Black SoftMid</span>
		<span class="black softmid">Regular Black SoftMid</span>
		<span class="italic bold softmid">Italic Bold SoftMid</span>
		<span class="bold softmid">Regular Bold SoftMid</span>
		<span class="italic semibold softmid">Italic Semibold SoftMid</span>
		<span class="semibold softmid">Regular Semibold SoftMid</span>
		<span class="italic regular softmid">Italic Regular SoftMid</span>
		<span class="regular softmid">Regular Regular SoftMid</span>
		<span class="italic light softmid">Italic Light SoftMid</span>
		<span class="light softmid">Regular Light SoftMid</span>
		<span class="italic thin softmid">Italic Thin SoftMid</span>
		<span class="thin softmid">Regular Thin SoftMid</span>
	</div>
	<div class="marquee-marq-content">
		<span class="italic black softmin">Italic Black SoftMin</span>
		<span class="black softmin">Regular Black SoftMin</span>
		<span class="italic bold softmin">Italic Bold SoftMin</span>
		<span class="bold softmin">Regular Bold SoftMin</span>
		<span class="italic semibold softmin">Italic Semibold SoftMin</span>
		<span class="semibold softmin">Regular Semibold SoftMin</span>
		<span class="italic regular softmin">Italic Regular SoftMin</span>
		<span class="regular softmin">Regular Regular SoftMin</span>
		<span class="italic light softmin">Italic Light SoftMin</span>
		<span class="light softmin">Regular Light SoftMin</span>
		<span class="italic thin softmin">Italic Thin SoftMin</span>
		<span class="thin softmin">Regular Thin SoftMin</span>
		<span class="italic black softmax">Italic Black SoftMax</span>
		<span class="black softmax">Regular Black SoftMax</span>
		<span class="italic bold softmax">Italic Bold SoftMax</span>
		<span class="bold softmax">Regular Bold SoftMax</span>
		<span class="italic semibold softmax">Italic Semibold SoftMax</span>
		<span class="semibold softmax">Regular Semibold SoftMax</span>
		<span class="italic regular softmax">Italic Regular SoftMax</span>
		<span class="regular softmax">Regular Regular SoftMax</span>
		<span class="italic light softmax">Italic Light SoftMax</span>
		<span class="light softmax">Regular Light SoftMax</span>
		<span class="italic thin softmax">Italic Thin SoftMax</span>
		<span class="thin softmax">Regular Thin SoftMax</span>
		<span class="italic black softmid">Italic Black SoftMid</span>
		<span class="black softmid">Regular Black SoftMid</span>
		<span class="italic bold softmid">Italic Bold SoftMid</span>
		<span class="bold softmid">Regular Bold SoftMid</span>
		<span class="italic semibold softmid">Italic Semibold SoftMid</span>
		<span class="semibold softmid">Regular Semibold SoftMid</span>
		<span class="italic regular softmid">Italic Regular SoftMid</span>
		<span class="regular softmid">Regular Regular SoftMid</span>
		<span class="italic light softmid">Italic Light SoftMid</span>
		<span class="light softmid">Regular Light SoftMid</span>
		<span class="italic thin softmid">Italic Thin SoftMid</span>
		<span class="thin softmid">Regular Thin SoftMid</span>
	</div>
</div>
