{% comment %} The .marquee-marq-content div needs to be in here *twice* for the
animation to run continuously. So when updating .marquee-marq-content, only do
so for the first div, then simply copy/paste it over the second one. {%
endcomment %}
<div class="marquee-marq paused {% if reverse %}reverse{% endif %}">
	<div class="marquee-marq-content">
		<span class="opsz9pt sharp thin">Regular 9pt Sharp Thin</span>
		<span class="italic opsz9pt sharp thin">Italic 9pt Sharp Thin</span>
		<span class="opsz9pt sharp light">Regular 9pt Sharp Light</span>
		<span class="italic opsz9pt sharp light">Italic 9pt Sharp Light</span>
		<span class="opsz9pt sharp regular">Regular 9pt Sharp Regular</span>
		<span class="italic opsz9pt sharp regular"
			>Italic 9pt Sharp Regular</span
		>
		<span class="opsz9pt sharp semibold">Regular 9pt Sharp SemiBold</span>
		<span class="italic opsz9pt sharp semibold"
			>Italic 9pt Sharp SemiBold</span
		>
		<span class="opsz9pt sharp bold">Regular 9pt Sharp Bold</span>
		<span class="italic opsz9pt sharp bold">Italic 9pt Sharp Bold</span>
		<span class="opsz9pt sharp black">Regular 9pt Sharp Black</span>
		<span class="italic opsz9pt sharp black">Italic 9pt Sharp Black</span>
		<span class="opsz9pt soft thin">Regular 9pt Soft Thin</span>
		<span class="italic opsz9pt soft thin">Italic 9pt Soft Thin</span>
		<span class="opsz9pt soft light">Regular 9pt Soft Light</span>
		<span class="italic opsz9pt soft light">Italic 9pt Soft Light</span>
		<span class="opsz9pt soft regular">Regular 9pt Soft Regular</span>
		<span class="italic opsz9pt soft regular">Italic 9pt Soft Regular</span>
		<span class="opsz9pt soft semibold">Regular 9pt Soft SemiBold</span>
		<span class="italic opsz9pt soft semibold"
			>Italic 9pt Soft SemiBold</span
		>
		<span class="opsz9pt soft bold">Regular 9pt Soft Bold</span>
		<span class="italic opsz9pt soft bold">Italic 9pt Soft Bold</span>
		<span class="opsz9pt soft black">Regular 9pt Soft Black</span>
		<span class="italic opsz9pt soft black">Italic 9pt Soft Black</span>
		<span class="opsz9pt supersoft thin">Regular 9pt SuperSoft Thin</span>
		<span class="italic opsz9pt supersoft thin"
			>Italic 9pt SuperSoft Thin</span
		>
		<span class="opsz9pt supersoft light">Regular 9pt SuperSoft Light</span>
		<span class="italic opsz9pt supersoft light"
			>Italic 9pt SuperSoft Light</span
		>
		<span class="opsz9pt supersoft regular"
			>Regular 9pt SuperSoft Regular</span
		>
		<span class="italic opsz9pt supersoft regular"
			>Italic 9pt SuperSoft Regular</span
		>
		<span class="opsz9pt supersoft semibold"
			>Regular 9pt SuperSoft SemiBold</span
		>
		<span class="italic opsz9pt supersoft semibold"
			>Italic 9pt SuperSoft SemiBold</span
		>
		<span class="opsz9pt supersoft bold">Regular 9pt SuperSoft Bold</span>
		<span class="italic opsz9pt supersoft bold"
			>Italic 9pt SuperSoft Bold</span
		>
		<span class="opsz9pt supersoft black">Regular 9pt SuperSoft Black</span>
		<span class="italic opsz9pt supersoft black"
			>Italic 9pt SuperSoft Black</span
		>
		<span class="opsz72pt sharp thin">Regular 72pt Sharp Thin</span>
		<span class="italic opsz72pt sharp thin">Italic 72pt Sharp Thin</span>
		<span class="opsz72pt sharp light">Regular 72pt Sharp Light</span>
		<span class="italic opsz72pt sharp light">Italic 72pt Sharp Light</span>
		<span class="opsz72pt sharp regular">Regular 72pt Sharp Regular</span>
		<span class="italic opsz72pt sharp regular"
			>Italic 72pt Sharp Regular</span
		>
		<span class="opsz72pt sharp semibold">Regular 72pt Sharp SemiBold</span>
		<span class="italic opsz72pt sharp semibold"
			>Italic 72pt Sharp SemiBold</span
		>
		<span class="opsz72pt sharp bold">Regular 72pt Sharp Bold</span>
		<span class="italic opsz72pt sharp bold">Italic 72pt Sharp Bold</span>
		<span class="opsz72pt sharp black">Regular 72pt Sharp Black</span>
		<span class="italic opsz72pt sharp black">Italic 72pt Sharp Black</span>
		<span class="opsz72pt soft thin">Regular 72pt Soft Thin</span>
		<span class="italic opsz72pt soft thin">Italic 72pt Soft Thin</span>
		<span class="opsz72pt soft light">Regular 72pt Soft Light</span>
		<span class="italic opsz72pt soft light">Italic 72pt Soft Light</span>
		<span class="opsz72pt soft regular">Regular 72pt Soft Regular</span>
		<span class="italic opsz72pt soft regular"
			>Italic 72pt Soft Regular</span
		>
		<span class="opsz72pt soft semibold">Regular 72pt Soft SemiBold</span>
		<span class="italic opsz72pt soft semibold"
			>Italic 72pt Soft SemiBold</span
		>
		<span class="opsz72pt soft bold">Regular 72pt Soft Bold</span>
		<span class="italic opsz72pt soft bold">Italic 72pt Soft Bold</span>
		<span class="opsz72pt soft black">Regular 72pt Soft Black</span>
		<span class="italic opsz72pt soft black">Italic 72pt Soft Black</span>
		<span class="opsz72pt supersoft thin">Regular 72pt SuperSoft Thin</span>
		<span class="italic opsz72pt supersoft thin"
			>Italic 72pt SuperSoft Thin</span
		>
		<span class="opsz72pt supersoft light"
			>Regular 72pt SuperSoft Light</span
		>
		<span class="italic opsz72pt supersoft light"
			>Italic 72pt SuperSoft Light</span
		>
		<span class="opsz72pt supersoft regular"
			>Regular 72pt SuperSoft Regular</span
		>
		<span class="italic opsz72pt supersoft regular"
			>Italic 72pt SuperSoft Regular</span
		>
		<span class="opsz72pt supersoft semibold"
			>Regular 72pt SuperSoft SemiBold</span
		>
		<span class="italic opsz72pt supersoft semibold"
			>Italic 72pt SuperSoft SemiBold</span
		>
		<span class="opsz72pt supersoft bold">Regular 72pt SuperSoft Bold</span>
		<span class="italic opsz72pt supersoft bold"
			>Italic 72pt SuperSoft Bold</span
		>
		<span class="opsz72pt supersoft black"
			>Regular 72pt SuperSoft Black</span
		>
		<span class="italic opsz72pt supersoft black"
			>Italic 72pt SuperSoft Black</span
		>
		<span class="opsz144pt sharp thin">Regular 144pt Sharp Thin</span>
		<span class="italic opsz144pt sharp thin">Italic 144pt Sharp Thin</span>
		<span class="opsz144pt sharp light">Regular 144pt Sharp Light</span>
		<span class="italic opsz144pt sharp light"
			>Italic 144pt Sharp Light</span
		>
		<span class="opsz144pt sharp regular">Regular 144pt Sharp Regular</span>
		<span class="italic opsz144pt sharp regular"
			>Italic 144pt Sharp Regular</span
		>
		<span class="opsz144pt sharp semibold"
			>Regular 144pt Sharp SemiBold</span
		>
		<span class="italic opsz144pt sharp semibold"
			>Italic 144pt Sharp SemiBold</span
		>
		<span class="opsz144pt sharp bold">Regular 144pt Sharp Bold</span>
		<span class="italic opsz144pt sharp bold">Italic 144pt Sharp Bold</span>
		<span class="opsz144pt sharp black">Regular 144pt Sharp Black</span>
		<span class="italic opsz144pt sharp black"
			>Italic 144pt Sharp Black</span
		>
		<span class="opsz144pt soft thin">Regular 144pt Soft Thin</span>
		<span class="italic opsz144pt soft thin">Italic 144pt Soft Thin</span>
		<span class="opsz144pt soft light">Regular 144pt Soft Light</span>
		<span class="italic opsz144pt soft light">Italic 144pt Soft Light</span>
		<span class="opsz144pt soft regular">Regular 144pt Soft Regular</span>
		<span class="italic opsz144pt soft regular"
			>Italic 144pt Soft Regular</span
		>
		<span class="opsz144pt soft semibold">Regular 144pt Soft SemiBold</span>
		<span class="italic opsz144pt soft semibold"
			>Italic 144pt Soft SemiBold</span
		>
		<span class="opsz144pt soft bold">Regular 144pt Soft Bold</span>
		<span class="italic opsz144pt soft bold">Italic 144pt Soft Bold</span>
		<span class="opsz144pt soft black">Regular 144pt Soft Black</span>
		<span class="italic opsz144pt soft black">Italic 144pt Soft Black</span>
		<span class="opsz144pt supersoft thin"
			>Regular 144pt SuperSoft Thin</span
		>
		<span class="italic opsz144pt supersoft thin"
			>Italic 144pt SuperSoft Thin</span
		>
		<span class="opsz144pt supersoft light"
			>Regular 144pt SuperSoft Light</span
		>
		<span class="italic opsz144pt supersoft light"
			>Italic 144pt SuperSoft Light</span
		>
		<span class="opsz144pt supersoft regular"
			>Regular 144pt SuperSoft Regular</span
		>
		<span class="italic opsz144pt supersoft regular"
			>Italic 144pt SuperSoft Regular</span
		>
		<span class="opsz144pt supersoft semibold"
			>Regular 144pt SuperSoft SemiBold</span
		>
		<span class="italic opsz144pt supersoft semibold"
			>Italic 144pt SuperSoft SemiBold</span
		>
		<span class="opsz144pt supersoft bold"
			>Regular 144pt SuperSoft Bold</span
		>
		<span class="italic opsz144pt supersoft bold"
			>Italic 144pt SuperSoft Bold</span
		>
		<span class="opsz144pt supersoft black"
			>Regular 144pt SuperSoft Black</span
		>
		<span class="italic opsz144pt supersoft black"
			>Italic 144pt SuperSoft Black</span
		>
	</div>
	<div class="marquee-marq-content">
		<span class="opsz9pt sharp thin">Regular 9pt Sharp Thin</span>
		<span class="italic opsz9pt sharp thin">Italic 9pt Sharp Thin</span>
		<span class="opsz9pt sharp light">Regular 9pt Sharp Light</span>
		<span class="italic opsz9pt sharp light">Italic 9pt Sharp Light</span>
		<span class="opsz9pt sharp regular">Regular 9pt Sharp Regular</span>
		<span class="italic opsz9pt sharp regular"
			>Italic 9pt Sharp Regular</span
		>
		<span class="opsz9pt sharp semibold">Regular 9pt Sharp SemiBold</span>
		<span class="italic opsz9pt sharp semibold"
			>Italic 9pt Sharp SemiBold</span
		>
		<span class="opsz9pt sharp bold">Regular 9pt Sharp Bold</span>
		<span class="italic opsz9pt sharp bold">Italic 9pt Sharp Bold</span>
		<span class="opsz9pt sharp black">Regular 9pt Sharp Black</span>
		<span class="italic opsz9pt sharp black">Italic 9pt Sharp Black</span>
		<span class="opsz9pt soft thin">Regular 9pt Soft Thin</span>
		<span class="italic opsz9pt soft thin">Italic 9pt Soft Thin</span>
		<span class="opsz9pt soft light">Regular 9pt Soft Light</span>
		<span class="italic opsz9pt soft light">Italic 9pt Soft Light</span>
		<span class="opsz9pt soft regular">Regular 9pt Soft Regular</span>
		<span class="italic opsz9pt soft regular">Italic 9pt Soft Regular</span>
		<span class="opsz9pt soft semibold">Regular 9pt Soft SemiBold</span>
		<span class="italic opsz9pt soft semibold"
			>Italic 9pt Soft SemiBold</span
		>
		<span class="opsz9pt soft bold">Regular 9pt Soft Bold</span>
		<span class="italic opsz9pt soft bold">Italic 9pt Soft Bold</span>
		<span class="opsz9pt soft black">Regular 9pt Soft Black</span>
		<span class="italic opsz9pt soft black">Italic 9pt Soft Black</span>
		<span class="opsz9pt supersoft thin">Regular 9pt SuperSoft Thin</span>
		<span class="italic opsz9pt supersoft thin"
			>Italic 9pt SuperSoft Thin</span
		>
		<span class="opsz9pt supersoft light">Regular 9pt SuperSoft Light</span>
		<span class="italic opsz9pt supersoft light"
			>Italic 9pt SuperSoft Light</span
		>
		<span class="opsz9pt supersoft regular"
			>Regular 9pt SuperSoft Regular</span
		>
		<span class="italic opsz9pt supersoft regular"
			>Italic 9pt SuperSoft Regular</span
		>
		<span class="opsz9pt supersoft semibold"
			>Regular 9pt SuperSoft SemiBold</span
		>
		<span class="italic opsz9pt supersoft semibold"
			>Italic 9pt SuperSoft SemiBold</span
		>
		<span class="opsz9pt supersoft bold">Regular 9pt SuperSoft Bold</span>
		<span class="italic opsz9pt supersoft bold"
			>Italic 9pt SuperSoft Bold</span
		>
		<span class="opsz9pt supersoft black">Regular 9pt SuperSoft Black</span>
		<span class="italic opsz9pt supersoft black"
			>Italic 9pt SuperSoft Black</span
		>
		<span class="opsz72pt sharp thin">Regular 72pt Sharp Thin</span>
		<span class="italic opsz72pt sharp thin">Italic 72pt Sharp Thin</span>
		<span class="opsz72pt sharp light">Regular 72pt Sharp Light</span>
		<span class="italic opsz72pt sharp light">Italic 72pt Sharp Light</span>
		<span class="opsz72pt sharp regular">Regular 72pt Sharp Regular</span>
		<span class="italic opsz72pt sharp regular"
			>Italic 72pt Sharp Regular</span
		>
		<span class="opsz72pt sharp semibold">Regular 72pt Sharp SemiBold</span>
		<span class="italic opsz72pt sharp semibold"
			>Italic 72pt Sharp SemiBold</span
		>
		<span class="opsz72pt sharp bold">Regular 72pt Sharp Bold</span>
		<span class="italic opsz72pt sharp bold">Italic 72pt Sharp Bold</span>
		<span class="opsz72pt sharp black">Regular 72pt Sharp Black</span>
		<span class="italic opsz72pt sharp black">Italic 72pt Sharp Black</span>
		<span class="opsz72pt soft thin">Regular 72pt Soft Thin</span>
		<span class="italic opsz72pt soft thin">Italic 72pt Soft Thin</span>
		<span class="opsz72pt soft light">Regular 72pt Soft Light</span>
		<span class="italic opsz72pt soft light">Italic 72pt Soft Light</span>
		<span class="opsz72pt soft regular">Regular 72pt Soft Regular</span>
		<span class="italic opsz72pt soft regular"
			>Italic 72pt Soft Regular</span
		>
		<span class="opsz72pt soft semibold">Regular 72pt Soft SemiBold</span>
		<span class="italic opsz72pt soft semibold"
			>Italic 72pt Soft SemiBold</span
		>
		<span class="opsz72pt soft bold">Regular 72pt Soft Bold</span>
		<span class="italic opsz72pt soft bold">Italic 72pt Soft Bold</span>
		<span class="opsz72pt soft black">Regular 72pt Soft Black</span>
		<span class="italic opsz72pt soft black">Italic 72pt Soft Black</span>
		<span class="opsz72pt supersoft thin">Regular 72pt SuperSoft Thin</span>
		<span class="italic opsz72pt supersoft thin"
			>Italic 72pt SuperSoft Thin</span
		>
		<span class="opsz72pt supersoft light"
			>Regular 72pt SuperSoft Light</span
		>
		<span class="italic opsz72pt supersoft light"
			>Italic 72pt SuperSoft Light</span
		>
		<span class="opsz72pt supersoft regular"
			>Regular 72pt SuperSoft Regular</span
		>
		<span class="italic opsz72pt supersoft regular"
			>Italic 72pt SuperSoft Regular</span
		>
		<span class="opsz72pt supersoft semibold"
			>Regular 72pt SuperSoft SemiBold</span
		>
		<span class="italic opsz72pt supersoft semibold"
			>Italic 72pt SuperSoft SemiBold</span
		>
		<span class="opsz72pt supersoft bold">Regular 72pt SuperSoft Bold</span>
		<span class="italic opsz72pt supersoft bold"
			>Italic 72pt SuperSoft Bold</span
		>
		<span class="opsz72pt supersoft black"
			>Regular 72pt SuperSoft Black</span
		>
		<span class="italic opsz72pt supersoft black"
			>Italic 72pt SuperSoft Black</span
		>
		<span class="opsz144pt sharp thin">Regular 144pt Sharp Thin</span>
		<span class="italic opsz144pt sharp thin">Italic 144pt Sharp Thin</span>
		<span class="opsz144pt sharp light">Regular 144pt Sharp Light</span>
		<span class="italic opsz144pt sharp light"
			>Italic 144pt Sharp Light</span
		>
		<span class="opsz144pt sharp regular">Regular 144pt Sharp Regular</span>
		<span class="italic opsz144pt sharp regular"
			>Italic 144pt Sharp Regular</span
		>
		<span class="opsz144pt sharp semibold"
			>Regular 144pt Sharp SemiBold</span
		>
		<span class="italic opsz144pt sharp semibold"
			>Italic 144pt Sharp SemiBold</span
		>
		<span class="opsz144pt sharp bold">Regular 144pt Sharp Bold</span>
		<span class="italic opsz144pt sharp bold">Italic 144pt Sharp Bold</span>
		<span class="opsz144pt sharp black">Regular 144pt Sharp Black</span>
		<span class="italic opsz144pt sharp black"
			>Italic 144pt Sharp Black</span
		>
		<span class="opsz144pt soft thin">Regular 144pt Soft Thin</span>
		<span class="italic opsz144pt soft thin">Italic 144pt Soft Thin</span>
		<span class="opsz144pt soft light">Regular 144pt Soft Light</span>
		<span class="italic opsz144pt soft light">Italic 144pt Soft Light</span>
		<span class="opsz144pt soft regular">Regular 144pt Soft Regular</span>
		<span class="italic opsz144pt soft regular"
			>Italic 144pt Soft Regular</span
		>
		<span class="opsz144pt soft semibold">Regular 144pt Soft SemiBold</span>
		<span class="italic opsz144pt soft semibold"
			>Italic 144pt Soft SemiBold</span
		>
		<span class="opsz144pt soft bold">Regular 144pt Soft Bold</span>
		<span class="italic opsz144pt soft bold">Italic 144pt Soft Bold</span>
		<span class="opsz144pt soft black">Regular 144pt Soft Black</span>
		<span class="italic opsz144pt soft black">Italic 144pt Soft Black</span>
		<span class="opsz144pt supersoft thin"
			>Regular 144pt SuperSoft Thin</span
		>
		<span class="italic opsz144pt supersoft thin"
			>Italic 144pt SuperSoft Thin</span
		>
		<span class="opsz144pt supersoft light"
			>Regular 144pt SuperSoft Light</span
		>
		<span class="italic opsz144pt supersoft light"
			>Italic 144pt SuperSoft Light</span
		>
		<span class="opsz144pt supersoft regular"
			>Regular 144pt SuperSoft Regular</span
		>
		<span class="italic opsz144pt supersoft regular"
			>Italic 144pt SuperSoft Regular</span
		>
		<span class="opsz144pt supersoft semibold"
			>Regular 144pt SuperSoft SemiBold</span
		>
		<span class="italic opsz144pt supersoft semibold"
			>Italic 144pt SuperSoft SemiBold</span
		>
		<span class="opsz144pt supersoft bold"
			>Regular 144pt SuperSoft Bold</span
		>
		<span class="italic opsz144pt supersoft bold"
			>Italic 144pt SuperSoft Bold</span
		>
		<span class="opsz144pt supersoft black"
			>Regular 144pt SuperSoft Black</span
		>
		<span class="italic opsz144pt supersoft black"
			>Italic 144pt SuperSoft Black</span
		>
	</div>
</div>
