<div class="meet-fraunces">
	<div class="prose-content">
		<h2>Meet Fraunces, an “Old Style” typeface.</h2>

		<p>
			In the early summer of 2018, Google Fonts approached us with the
			challenge of designing a display typeface. We spent some time
			perusing the catalog, and were struck by a pretty big gap in the
			typographic voices available. There isn’t a specific name for this
			genre, but typefaces such as Cooper Black, Windsor, and Souvenir
			personify it. We call them “wonky” fonts in house, and that seems as
			good a name as any. We’ve played a lot with this style in our
			lettering work, and felt this was a great opportunity to create a
			typeface family that celebrates this genre.
		</p>

		<figure class="fig-left">
			<img
				src="{% webpackAsset 'img/goofy.svg' %}"
				alt="Sample of lettering"
				class="goofy"
			/>
			<figcaption>Lettering sample from the author</figcaption>
		</figure>

		<p>
			The origin of this genre traces its roots back to the Arts & Crafts
			experimentations of the late nineteenth and early twentieth
			centuries. Golden Type by William Morris, and the extensive
			lettering of the Roycroft Guild drew upon a heavily romanticized
			ideal of an “Old Style” that their progress-besotted contemporaries
			had lost touch with. Morris’ Golden Type was an extremely crude
			interpretation of the types of fifteenth-century printer Nicolas
			Jenson, opting instead to emphasize the perceived effects of the
			printing process, rather than the calligraphic origins of the form.
		</p>

		<figure class="fig-center">
			<img
				src="{% webpackAsset 'img/old-paragraph.svg' %}"
				alt=""
				class="full-width"
			/>
			<figcaption>Paragraph sample of Golden Type</figcaption>
		</figure>

		<p>
			Ironically, the letters they created, and the interest in wonky “Old
			Style” typefaces that followed it in subsequent decades—heavy
			hitting display typeface favorites like Cooper Black, Windsor or
			Clearface—had little or nothing to do with typefaces of antiquity.
			No one was really trying to score point for rigorous historical
			authenticity.
		</p>
		<figure class="fig-center">
			<img
				src="{% webpackAsset 'img/richmond-oldstyle.svg' %}"
				alt=""
				class="full-width"
			/>
			<figcaption>
				Sample of Richmond Oldstyle, image courtesy of
				<a href="http://www.david-wolske.com" target="_blank"
					>David Wolske</a
				>
			</figcaption>
		</figure>
		<p>
			Instead, these typefaces were playful, even outright goofy, a way to
			inject some personality into modernity. Even during this era, types
			like Richardson Old Style by Robert DeLittle showcased some of the
			more elegant possibilities of this expressive approach.
		</p>

		<figure class="fig-left">
			<img
				src="{% webpackAsset 'img/thank-you-for-shopping.svg' %}"
				alt=""
				class="thank-you-for-shopping"
			/>
			<figcaption>Lettering based on Bookman Swash</figcaption>
		</figure>

		<p>
			During the 1970s, graphic designers were raiding style books and
			publications of earlier generations for looking for more funky
			stylings, and found a treasure trove in the “Old Style” types of the
			era. The irreverence and friendliness of these typefaces were the
			perfect countercultural antidote to the perceived stuffiness and
			chilly efficiency of traditional text faces. A prime example of this
			style coming out of the ’70s was Ed Benguiat’s swashy version of
			Bookman for ITC. Benguiat’s type was an ode to Oswald Cooper’s
			Cooper Black Italic. It’s known to most people today as the friendly
			typographical wave of the small businessperson to their regular
			customers: the ubiquitous “Thank You For Shopping With Us” that
			graces the sides of grocery bags all over North America.
		</p>

		<p>
			Mostly shunned since the 1990s as being vaguely tasteless and
			disreputable, there has been a twenty-first century revival of
			interest and use of these typefaces. With the advent of new type
			technology such as Variable Fonts, it’s a great opportunity to
			update this genre with a typeface family that is made uniquely for
			our time. Please enjoy, and as ever, thank you for shopping with us.
		</p>

		<p>
			<em
				><strong
					>—Spencer Charles, partner at Undercase Type</strong
				></em
			>
		</p>
	</div>
</div>
