<div class="opsz-demo-container">
	<div class="opsz-slider-handle"></div>
	<div class="opsz-slider-window">
		<div class="with-opsz">
			<h3>
				<img
					src="{% webpackAsset 'img/lookin-good.svg' %}"
					class="opsz-sticker"
					alt=""
				/>
				With optical sizing
			</h3>
			<p class="opsz-large">If you dream of riding well and</p>
			<p class="opsz-medium">
				If you dream of riding well and easily on the back of this noble
				animal, your fortune is sure to advance in the world: but if you
				imagine you are thrown from a horse, it is a sign of disgrace.
				To dream of swapping horses shows that some one will cheat you
				in a bargain; of selling a horse, it is a sign of loss; but of
				buying one, predicts that you will make money by some
				speculation, or else
			</p>
			<p class="opsz-small">
				If you dream of riding well and easily on the back of this noble
				animal, your fortune is sure to advance in the world: but if you
				imagine you are thrown from a horse, it is a sign of disgrace.
				To dream of swapping horses shows that some one will cheat you
				in a bargain; of selling a horse, it is a sign of loss; but of
				buying one, predicts that you will make money by some
				speculation, or else
			</p>
		</div>
	</div>

	<div class="without-opsz">
		<h3>
			Without optical sizing
			<img
				src="{% webpackAsset 'img/not-so-much.svg' %}"
				class="opsz-sticker"
				alt=""
			/>
		</h3>
		<p class="opsz-large">If you dream of riding well and</p>
		<p class="opsz-medium">
			If you dream of riding well and easily on the back of this noble
			animal, your fortune is sure to advance in the world: but if you
			imagine you are thrown from a horse, it is a sign of disgrace. To
			dream of swapping horses shows that some one will cheat you in a
			bargain; of selling a horse, it is a sign of loss; but of buying
			one, predicts that you will make money by some speculation, or else
		</p>
		<p class="opsz-small">
			If you dream of riding well and easily on the back of this noble
			animal, your fortune is sure to advance in the world: but if you
			imagine you are thrown from a horse, it is a sign of disgrace. To
			dream of swapping horses shows that some one will cheat you in a
			bargain; of selling a horse, it is a sign of loss; but of buying
			one, predicts that you will make money by some speculation, or else
		</p>
	</div>

	<img src="{% webpackAsset 'img/happy.svg' %}" class="happy" alt="" />
	<img src="{% webpackAsset 'img/sad.svg' %}" class="sad" alt="" />
</div>

<div class="opsz-text">
	<div class="prose-content">
		<h2>The Optical Size Axis</h2>
		<p>
			The Optical Size axis is similar to the Goofy, in that it controls
			the overall contrast between thicks and thins. But, the Optical Size
			axis goes a step further and factors in additional changes depending
			on the size of the font. At smaller sizes, the letterspacing opens
			up, x-height increases, and contrast decreases to allow for easier
			reading. On the opposite page are examples of the Goofy Min, which
			changes in Optical Size at different font sizes. Most modern web
			browsers will automatically interpret this information. Designing in
			applications such as Adobe Illustrator or Sketch requires a manual
			approach to typesetting.
		</p>
	</div>
</div>
