<div class="opsz-demo">
	<div class="opsz-slider-handle"></div>
	<div class="opsz-slider-window">
		<div class="with-opsz">
			<h3>
				<img
					src="{% webpackAssetPath '../img/lookin-good.svg' %}"
					class="opsz-sticker"
					alt=""
				/>
				With optical sizing
			</h3>
			<p class="opsz-large-with">
				The self-hypnosis revolution has arrived.
			</p>
			<p class="opsz-medium-with">
				Congratulations on your decision to pursue CB radio.
				<em>Before you purchase the equipment,</em> ask yourself these
				questions about the radio and the accessories you plan to use.
			</p>
			<p class="opsz-small">
				The booklet “Tips on Saving Energy in Your Geodesic Dome”
				contains numerous suggestions to homeowners on how to keep their
				domes cool in hot weather and warm in cold weather, with minimal
				energy expenditures. It gives examples on how to deal with
				moisture, plastic deterioration, bad vibes and energy
				expenditure for a completely open floor plan, with emphasis in
				areas of hot water use, cooking, laundry and the purchase and
				use of electrical appliances.
			</p>
		</div>
	</div>

	<div class="without-opsz">
		<h3>
			Without optical sizing
			<img
				src="{% webpackAssetPath '../img/not-so-much.svg' %}"
				class="opsz-sticker"
				alt=""
			/>
		</h3>
		<p class="opsz-large">The self-hypnosis revolution has arrived.</p>
		<p class="opsz-medium">
			Congratulations on your decision to pursue CB radio.
			<em>Before you purchase the equipment,</em> ask yourself these
			questions about the radio and the accessories you plan to use.
		</p>
		<p class="opsz-small">
			The booklet “Tips on Saving Energy in Your Geodesic Dome” contains
			numerous suggestions to homeowners on how to keep their domes cool
			in hot weather and warm in cold weather, with minimal energy
			expenditures. It gives examples on how to deal with moisture,
			plastic deterioration, bad vibes and energy expenditure for a
			completely open floor plan, with emphasis in areas of hot water use,
			cooking, laundry and the purchase and use of electrical appliances.
		</p>
	</div>

	<img src="{% webpackAssetPath '../img/happy.svg' %}" class="happy" alt="" />
	<img src="{% webpackAssetPath '../img/sad.svg' %}" class="sad" alt="" />
</div>

<div class="opsz-text">
	<div class="prose-content">
		<h2>Ask Me About My Optical Size Axis</h2>
		<p>
			The Optical Size axis is similar to the Softness axis, in that it
			controls the overall contrast between thicks and thins. The Optical
			Size axis goes a step further, however, and factors in additional
			changes depending on the size of the font. At smaller sizes, the
			letterspacing opens up, x-height increases, and contrast decreases
			to allow for easier reading. Additionally, at 18 pt/px and below,
			substitutions for the “wonky” characters are made automatically (see
			the Wonk axis explanation below). Most modern web browsers will
			automatically interpret the Optical Size based on the font size
			specified by the website. Designing in applications such as Adobe
			Illustrator or Sketch requires a manual approach to typesetting.
		</p>
	</div>
</div>
