<div class="soft-demo interactive-controls">
	<img
		src="{% webpackAssetPath '../img/hero-stickers-02.svg' %}"
		class="a-touch-of-class-sticker"
		alt=""
	/>
	<div
		class="interactive-controls-text soft-demo-text"
		contenteditable
		spellcheck="false"
	>
		Please<br />
		Wait to<br />
		be Seated
	</div>
	<div class="soft-demo-slider">
		<input
			type="range"
			min="0"
			max="100"
			value="100"
			name="SOFT"
			step="any"
			class="interactive-controls-slider"
			id="soft-slider3"
		/>
		<label for="soft-slider3">SOFT</label>
	</div>
	<div class="prose-content">
		<h2>A Softie at Heart</h2>
		<p>
			The Softness axis controls the “wetness” or “inkiness” of the
			typeface. Although Fraunces is drawn entirely with rounded serifs,
			it achieves sharpness in the “S000” area of the design space with
			extremely high contrast.
		</p>
	</div>
</div>
