<div class="thank-you interactive-controls">
	<div
		class="interactive-controls-text thank-you-demo-text"
		contenteditable
		spellcheck="false"
	>
		Honk For<br />
		<em>Wonky</em><br />
		<em>Fonts.</em>
	</div>

	<ul class="thank-you-sliders interactive-controls-sliders">
		<li>
			<input
				type="range"
				min="0"
				max="100"
				value="0"
				name="GOOF"
				id="axis-GOOF"
				step=""
				class="interactive-controls-slider dark"
			/>
			<label for="axis-GOOF">GOOF</label>
		</li>

		<li>
			<input
				type="range"
				min="100"
				max="900"
				value="900"
				name="wght"
				id="axis-wght"
				step=""
				class="interactive-controls-slider dark"
			/>
			<label for="axis-wght">wght</label>
		</li>

		<li>
			<input
				type="range"
				min="0"
				max="1"
				value="1"
				name="WONK"
				id="axis-WONK"
				step=""
				class="interactive-controls-slider dark"
			/>
			<label for="axis-WONK">WONK</label>
		</li>

		<li>
			<input
				type="range"
				min="9.1"
				max="144"
				value="144"
				name="opsz"
				id="axis-opsz"
				step=""
				class="interactive-controls-slider dark"
			/>
			<label for="axis-opsz">opsz</label>
		</li>
	</ul>
</div>
