<div class="wonk-demo">
	<img
		src="{% webpackAsset 'img/hero-stickers-04.svg' %}"
		class="extra-wonk-sticker"
		alt=""
	/>
	<div class="interactive-controls">
		<div
			class="interactive-controls-text wonk-demo-text"
			contenteditable
			spellcheck="false"
		>
			minimum
		</div>
		<div class="wonk-demo-slider">
			<input
				type="range"
				min="0"
				max="1"
				value="0"
				name="WONK"
				step="any"
				class="interactive-controls-slider dark wonk-slider"
				id="wonk-slider1"
			/>
			<label for="wonk-slider1">WONK</label>
		</div>
	</div>
	<div class="interactive-controls">
		<div
			class="interactive-controls-text wonk-demo-text"
			contenteditable
			spellcheck="false"
		>
			<em>billabong</em>
		</div>
		<div class="wonk-demo-slider">
			<input
				type="range"
				min="0"
				max="1"
				value="0"
				name="WONK"
				step="any"
				class="interactive-controls-slider dark wonk-slider"
				id="wonk-slider2"
			/>
			<label for="wonk-slider2">WONK</label>
		</div>
	</div>
	<div class="prose-content">
		<h2>Extra wonk included</h2>
		<p>
			The Wonk axis controls the substitution of “wonky” characters. These
			substitutions automatically switch at smaller sizes (18 pt and
			below), but can be toggled manually at larger optical sizes. The
			leaning h, n, and m is a characteristic borrowed from Windsor. In
			addition to the leaning characters, the Italic contains flagged
			characters with ball terminals.
		</p>
	</div>
</div>
