<div class="wonk-demo">
	<div class="interactive-controls">
		<div
			class="interactive-controls-text wonk-demo-text"
			contenteditable
			spellcheck="false"
		>
			minimum
		</div>
		<div class="wonk-demo-slider">
			<input
				type="range"
				min="0"
				max="1"
				value="0"
				name="WONK"
				step="1"
				class="interactive-controls-slider dark"
			/>
			<label>WONK</label>
		</div>
	</div>
	<div class="interactive-controls">
		<div
			class="interactive-controls-text wonk-demo-text"
			contenteditable
			spellcheck="false"
		>
			<em>billabong</em>
		</div>
		<div class="wonk-demo-slider">
			<input
				type="range"
				min="0"
				max="1"
				value="0"
				name="WONK"
				step="1"
				class="interactive-controls-slider dark"
			/>
			<label>WONK</label>
		</div>
	</div>
	<div class="prose-content">
		<h2>The Wonk Axis</h2>
		<p>
			The Wonk axis controls the substitution of “wonky” characters. These
			substitutions automatically switch at smaller sizes (18 pt. and
			below), but can be toggled manually at larger optical sizes. The
			leaning h/n/m is a major characteristic borrowed from Windsor. In
			addition to the leaning characters, the Italic contains flagged
			characters with ball terminals.
		</p>
	</div>
</div>
