<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="description" content="{{ site.description | escape }}" />
		{%- for metatag in site.metatags %}
		<meta{% for m in metatag %} {{m[0]}}="{{m[1] | escape}}" {% endfor %} />
		{%- endfor %}
		<title>
			{{ site.title or renderData.title or title or metadata.title }}
		</title>
		<link
			rel="stylesheet"
			href="{% webpackAssetPath '../css/main.css' %}"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght,SOFT,WONK@0,9..144,100..900,0..100,0..1;1,9..144,100..900,0..100,0..1&display=block"
			rel="stylesheet"
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			href="{% webpackAssetPath '../img/happy.svg' %}"
		/>
		<script defer src="{% webpackAssetPath '../js/main.js' %}"></script>
		<script>
			window.ga =
				window.ga ||
				function() {
					(ga.q = ga.q || []).push(arguments);
				};
			ga.l = +new Date();
			ga("create", "UA-168783573-1", "auto");
			ga("send", "pageview");
		</script>
		<script
			async
			src="https://www.google-analytics.com/analytics.js"
		></script>
	</head>

	<body>
		{{ content }}
	</body>
</html>
