@font-face {
	font-family: Fraunces;
	src: url("../fonts/Fraunces_GoofyAxis-VF.woff2");
	font-weight: 1 1000;
}

@font-face {
	font-family: Fraunces;
	src: url("../fonts/FrauncesItalic_GoofyAxis-VF.woff2");
	font-style: italic;
}
