.sticker-hero {
	background: var(--fraunces-black);
	min-height: calc(100vh - var(--header-height) - var(--marquee-marq-height));
	padding: 3rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	font-size: 4vw;
}

.sticker-hero h1 {
	--wght: 900;
	--opsz: 14;
	--WONK: 1;

	color: var(--fraunces-white);
	margin: 0;
	line-height: 1;
}

.sticker-hero span {
	display: block;
	font-size: 165%;
}

.sticker-hero h2 {
	--opsz: 144;
	--wght: 500;
	--WONK: 1;

	color: var(--fraunces-yellow);
	margin: 1rem 0 0 0;
	line-height: 1.1;
}

.sticker {
	cursor: grab;
}

.sticker,
.sticker-residue {
	--x: 0;
	--y: 0;

	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translate(var(--x), var(--y)) translate(-50%, -50%);
	transition: filter 80ms;
	user-select: none;
	background-size: contain;
	z-index: 1;
}

.sticker.dragging {
	cursor: grabbing;
	filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}

.sticker-1 {
	--x: 300px;
	--y: 500px;

	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 100'%3E%3Cpath fill='%232cff00' d='M50 13.92L70.711 0l4.801 24.488L100 29.289 86.08 50 100 70.711l-24.488 4.801L70.711 100 50 86.08 29.289 100l-4.801-24.488L0 70.711 13.92 50 0 29.289l24.488-4.801L29.289 0z'/%3E%3C/svg%3E");
	padding: 1em;
	font-style: italic;
	font-size: 3rem;
}

.sticker-residue {
	pointer-events: none;
	color: transparent;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 100'%3E%3Cpath fill='white' d='M2.195 31.887l.724 1.121.78 1.088.765 1.129.519-1.172.404-1.125.524-1.082.404-1.16.25-1.216.572-1.051-1.287.083-1.24.373-1.255.313-1.264.278-1.17.203.711.991zm18.583 10.029l-.421-1.728.988-1.151 1.02-1.132 1.006-1.102-.336-1.778.848-1.147 1.307-.875-.134-1.711.621-1.272.67-1.241 2.117-.397.176-1.532.722-1.217.282-1.453.375-1.429 1.491-.878 1.025-1.136-.886-1.971.169-1.465 1.522-.964-.159-1.566 1.725-1.013-.895-1.739 1.02-1.29.941-1.339-.272-1.535-.826-1.62 1.155-1.646-1.274-.935-1.298-.685-1.158-.897-1.227-.802-1.121.474-.295.455-1.498 1.093.679 1.521.217 1.432-.047 1.38-.021 1.385-.393 1.312-1.86 1.025-.436 1.301.029 1.392-.249 1.342.517 1.491.079 1.406-.913 1.213-.271 1.337-.027 1.388-.587 1.281-.321 1.085-.851.514-1.215.194-1.458 1.081-.557 1.482-.357 1.46-1.316.738-1.05 1.027-.836 1.191.784 1.809-2.161.726.932 1.801-1.896.83.202 1.56.02 1.635-1.075 1.155-.285 1.536-.738 1.307-.139.844-.085 1.267-.04 1.564.765 1.028 1.386.678-1.025 1.544 1.263-.593-.044-1.792 1.431-.425.112-1.641 1.38-.488 1.546-.524.665-1.348.465-1.414zm18.849 15.238l1.601-.451-.292-1.894 1.578-.504 1.809-.385.64-1.212.497-1.298.482-1.296-.504-1.866 1.22-.834 1.237-.853 1.177-.911-.702-1.867.798-1.099 1.403-.837-.647-1.752.378-1.285.423-1.262 2.493-.506-.309-1.552.474-1.269.336-1.313-.385-1.514-.398-1.486 1.673-.959-.584-1.511-.176-1.384 2.119-.904-.253-1.402-.991-1.55 1.951-.949-.208-1.389.406-1.261-.914-1.55.805-1.177.97-1.126.976-1.109-.715-1.544.397-1.259.681-1.171.303-.82-1.024.705-1.004.983-1.044.926-1.71-.061-1.815-.223-1.108.835-.505 1.739-1.172.492-.567-1.241-1.139-.659-1.903.471-.801-1.068-.508.993-.802 1.109-.506 1.134 2.049 1.781-.338 1.398-1.902.879.004 1.479-1.165 1.048-1.131 1.028.588 1.762-.542 1.29-.215 1.449-1.744.695-1.135.927 1.27 2.169-.165 1.439-1.916.514.116 1.589-2.245.322.854 1.99-1.51.713-1.454.744-.043 1.507.617 1.857-1.826.552-.687 1.162-.438 1.291-.73 1.142-.584 1.217 1.096 2.034-1.408.81-2.116.359.228 1.831-.454 1.499-.769 1.231-.7 1.223-.978.893-2.574-.037-.855 1.47.158 1.635.053 1.48 1.209 1.259.663 1.28-.685 1.478.078 1.337.233 1.366-.684 1.192-.58 1.16.074 1.411-.604 1.168-.807 1.755 1.856-.554 1.685-.577 1.407 1.198-.129.949 1.23-.85-.832-2.007 2.58.557-.636-2.265 2.401.288.142-1.643.243-1.577 1.372-.569.469-1.385.937-.959.334-1.506 1.7-.264 1.79-.193.834-1.061.092-1.703.869-1.017 1.646-.379zM28.043 90.681l.14 1.189.125 1.225.459 1.118.293-1.076.302-1.166.098-1.201.24-1.426.209-1.379-.901 1.384zm30.492-19.136l1.359-.86 1.396-.83 1.339-.837-.97-2.116.967-1.049 1.726-.548-.619-2.066.667-1.262.798-1.185 3.016.685.136-1.731.975-1.029.843-1.158.037-1.735-.109-1.648 2.193-.392-.628-1.677-.354-1.308 1.173-1.242.88-1.478.434-1.524-.542-1.321-3.095-.571-.164-1.356 1.978-1.944-2.215-.852.278-1.469-.325-1.354 1.036-1.401.54-1.324-.063-1.336-.351-1.4-.691-1.519.382-1.349 1.102-1.142 1.283-1.028-.731-1.674.65-1.226.052-1.463 1.258-.963-.79-1.457 1.119-1.44-1.801-.996-.917-1.169 1.286-1.605-.396-1.273-1.652-1.029.708-1.494-.25-1.303-.577-1.243-.489-1.261 1.001-1.558-1.986.639-.419 1.344.961 1.774-.747 1.177-1.186 1.078-.231 1.348 1.486 1.741-.839 1.178-.975 1.148-1.04 1.118-.65 1.292 2.712 2.012-.213 1.357-2.212.962.344 1.479-1.171 1.178-1.101 1.184 1.266 1.671-.244 1.364.22 1.476-1.889.954-1.083 1.113 2.218 2.081.205 1.558-2.208.75.551 1.689-2.672.484 1.5 2.095-1.705.806-1.637.789.211 1.613 1.03 2.047-2.172.48-.716 1.19-.429 1.346-.922 1.571.877 1.315 2.725.554-1.112 1.679-2.347.506.815 1.778-.18 1.618-.54 1.345-.496 1.371-1.006.994-3.056-.473-1.066.981-.398 1.451-.779 1.184.341 1.918-.263 1.494-1.695.591-.741 1.199-.355 1.421-1.174.958-.898 1.074.061 1.543-.621 1.203-1.113 1.019.643 1.679.665 1.606-1.473.936-1.044 1.115-.755 1.219 2.027 1.792-3.235.761 2.217 1.741-.715 2.688.905-2.025.567-1.71 1.64-.117.769-1.415 1.217-.746.639-1.61 1.959.348 1.468.687.457.445 1.056-2.288.88-1.056 1.887-.32-.921-2.347 1.803-.456-.778-2.081 1.767-.55 2.082-.438.492-1.322.31-1.405.313-1.393zm40.126-38.978l.612-1.196.092-1.816-1.568.25-1.272-.468-1.229-.664-1.201-.815-1.71 1.76-1.189-.881-1.03-1.707-1.611 1.252-1.063-1.534-1.387.101-1.608 1.221-.972-.666.733.911-2.295.614 1.102 1.693-1.545.947-.915 1.203 1.309 1.476.56 1.276-1.268 1.302-.994 1.433 2.457.988.512 1.183-2.41 1.874 2.723.673-.865 1.668.672 1.295-.665 1.5-.468 1.393.231 1.32 2.351 1.497-.337 1.463-2.268 1.016 1.243 1.765-.907 1.207-.433 1.359-1.454.838-1.043.974-.607 1.223-.415 1.381-.197 1.598-.934 1.061-1.353.627-1.454.568.011 1.694-.919.981-.429 1.328-1.296.736.282 1.758-1.691.53.504 1.811-.106 1.417-1.774.582-.456 1.247.529 1.707-1.317.843-.579 1.192-.348 1.314-.446 1.28-1.599.631-1.777.434-.63 1.1.261 1.782-1.108.899-1.44.587-.9 2.242 2.236-.327.883 1.155.813 1.254.784 1.299.983 1.008 2.596-1.396 1.176.72.213 2.16 1.255.312.903-1.039.965-1.198-1.051-1.594.22-1.347-.193-1.426 1.596-1.077.891-1.214-1.991-1.78-.29-1.443 1.803-1.033-.64-1.517 2.198-.958-1.538-1.692 1.312-1.135 1.244-1.146-.455-1.483-1.243-1.639 1.523-.733 1.019-.015 1.293-.481 1.364-.123 1.333-.289.945-2.258 1.53.712 1.685 1.51 1.074-1.611 1.2-.949 1.275-.571 1.272-.608 1.374-.075 1.788 2.027 1.389-.013 1.257-.679 1.339-.282 1.125-1.381.756-.352.091-1.025-.749-1.136-1.047-.938-.368-1.396-.553-1.27-1.268-.781-.703-1.165-.307-1.438-1.591-.571-1.558-.594.043-1.675-.251-1.474-.442-1.349-2.415-.024 1.375-2.569-2.5.033 1.043-2.354-1.59-.393-.064-1.492 1.334-.744.236-1.482.803-1.104.071-1.593 1.728-.473 1.835-.403.688-1.182-.184-1.765.759-1.13 1.678-.518-.719-2.127 1.645-.54-.469-1.962 1.642-.542zm-87.545 22.37l-.41 1.32-.828 1.032-.616 1.177-1.167.814-.399 1.326-1.017.912-.891 1.001-.419 1.315-.606 1.193-1.021.906-.984.94-.24 1.442-.682 1.151-1.384 1.052 1.69-.158 1.227.572 1.307.146 1.246.48 1.279.409 1.324-.211.703-1.151.635-1.302.903-1.13.439-1.355.001-1.42.6-1.454-.433-1.426-.351-1.303-.055-1.344.097-1.338.253-1.308-.29-1.419.555-1.259.888-1.069.327-.601-1.022.906z'/%3E%3C/svg%3E");
	opacity: 0.075;
	animation: clean-up-residue 60s ease-out forwards;
}

@keyframes clean-up-residue {
	to {
		opacity: 0;
	}
}
