.anatomy {
	--offset: 0;

	padding: 5rem 0 4rem 0;
}

.uv {
	display: block;
	width: 80%;
	max-width: 80rem;
	margin: 0 auto;
	overflow: visible;
}

.uv-text {
	fill: #fba900;
}

.uv-labels {
	opacity: 0;
}

.uv-container.in-view .uv-labels {
	transform: translateY(calc(20px - (var(--offset) * 40px)));
	opacity: calc(-0.5 + (var(--offset) * 4));
}
