.charset-checkers {
	margin: 0 auto;
	padding: 6rem 0 3rem 0;
	max-width: 40rem;
}

.checkersboard {
	--max: 80vw;
	--gap: 1vw;

	--unit: calc(var(--max) / 8 - var(--gap));

	display: grid;
	grid-gap: var(--gap);
	grid-template-columns: repeat(8, var(--unit));
	grid-template-rows: repeat(8, var(--unit));
	justify-content: center;
	align-content: center;
	margin: 0 auto 3rem 0;
}

.checkersboard > div {
	font-weight: 900;
	background: var(--fraunces-yellow);
	color: var(--fraunces-white);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4vw;
}

.checkersboard > div:nth-child(-n + 8):nth-child(even),
.checkersboard > div:nth-child(n + 8):nth-child(-n + 16):nth-child(odd),
.checkersboard > div:nth-child(n + 17):nth-child(-n + 24):nth-child(even),
.checkersboard > div:nth-child(n + 25):nth-child(-n + 32):nth-child(odd),
.checkersboard > div:nth-child(n + 33):nth-child(-n + 40):nth-child(even),
.checkersboard > div:nth-child(n + 41):nth-child(-n + 48):nth-child(odd),
.checkersboard > div:nth-child(n + 49):nth-child(-n + 56):nth-child(even),
.checkersboard > div:nth-child(n + 57):nth-child(-n + 64):nth-child(odd) {
	background: var(--fraunces-black);
}

@media screen and (min-width: 52rem) {
	.checkersboard {
		--max: 50rem; /* Based on .prose width */
		--gap: 0.375rem;
	}

	.checkersboard > div {
		font-size: 3.5rem;
	}
}
