.flip {
	padding: 4rem 0;
	background: var(--fraunces-yellow);
}

.flip button {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	background: none;
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	cursor: pointer;
	color: inherit;
	line-height: 1;
}

.flip-text {
	--WONK: 0.5; /* Always remains on default */
	--GOOF: 50;
	--opsz: 72;
	--wght: 400;

	line-height: 1;
	text-align: center;
	font-size: 12vw;
	margin-bottom: 3rem;
	color: var(--fraunces-white);
	outline: 0;

	/* Addressing the wght axis directly, so apply the
	font-variation-settings specifically for this demo */
	transition: font-variation-settings 0.1s ease-in;
	font-variation-settings: "opsz" var(--opsz), "wght" var(--wght),
		"GOOF" var(--GOOF), "WONK" var(--WONK);
}

.flip-text.italic {
	font-style: italic;
}

.flip-controls-container {
	display: flex;
	margin-bottom: 4rem;
}

.flip-controls {
	display: flex;
	max-width: 40rem;
	margin: 0 auto;
}

.flip-controls h4 {
	text-align: center;
}

.flip-controls h4::after {
	/* Use control word to make sure column is at least
	   as wide as this word */
	content: attr(data-control);
	display: block;
	overflow: hidden;
	height: 0;
	font-weight: 900;
	margin-left: 0.75em;
	padding-right: 0.75em;
}

.flip-controls > li {
	flex: none;
	display: flex;
	flex-direction: column;
}

.flip-control {
	line-height: 1.5em;
	height: calc(11 * 1.5em); /* Height of tallest column */
	transition: padding 200ms;
	border-right: 1px solid black;
	margin-left: 0.75em;
	padding-right: 0.75em;
	padding-top: calc(var(--offset) * 1.5em);
}

.flip-control-borderless {
	border-right: 0;
}

.flip-control .active {
	color: var(--fraunces-white);
	font-weight: 900;
}

@media screen and (max-width: 32rem) {
	/* Remove titles if screen becomes too small */
	.flip-controls h4 {
		display: none;
	}
}

@media screen and (max-width: 28rem) {
	/* Remove "family" column if screen becomes too small */
	.flip-controls-family {
		display: none;
	}
}
