footer {
	padding: 3rem;
	background: var(--fraunces-yellow);
	display: flex;
}

footer > * {
	flex: auto;
	width: 30%;
}

footer a {
	color: var(--fraunces-black);
	text-decoration: none;
}

.footer-brought-to-you a {
	font-size: 1.75rem;
	font-weight: 500;
}

footer a:hover {
	text-decoration: underline;
}

.footer-credits p:not(:last-child) {
	margin: 0 0 1em 0;
}

.footer-credits {
	padding: 0 1em;
}

.footer-repo-link {
	text-align: right;
	font-weight: 900;
}

@media screen and (max-width: 70em) {
	footer {
		flex-direction: column;
		align-items: center;
	}

	footer > * {
		width: auto;
	}

	.footer-credits {
		padding: 2em 0 1em 0;
	}

	.footer-credits,
	.footer-brought-to-you {
		text-align: center;
	}
}
