.variable-support {
	display: block;
}

@supports (font-variation-settings: normal) {
	.variable-support {
		display: none;
	}
}

:root {
	--fraunces-yellow: #fba919;
	--fraunces-black: #000;
	--fraunces-white: #fff;
	--fraunces-neon: #2cff00;
	--header-height: 5rem;
	--marquee-marq-height: 5rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	-GOOF: 100;

	font-weight: 400;
	padding: 0;
	margin: 0;
	
}

ol,
ul {
	list-style-type: none;
	padding: 0;
}

body {
	background: var(--fraunces-white);
	color: var(--fraunces-black);
	min-width: 320px;
}
