.marquee-marq {
	background: var(--fraunces-yellow);
	color: var(--page-bg);
	user-select: none;
	pointer-events: none;
	overflow: hidden;
	display: flex;
	white-space: nowrap;
}

.marquee-marq-content {
	display: flex;
	align-items: center;
	height: var(--marquee-marq-height);
	font-size: 2rem;
	line-height: 1;
	opacity: 1;
	transition: opacity 2s;
	animation: marquee-marq 300s infinite linear;
}

.marquee-marq-content span {
	padding: 0 0.125em;
}

.italic {
	font-style: italic;
}

.goofymin {
	--GOOF: 0;
}
.goofymid {
	--GOOF: 50;
}
.goofymax {
	--GOOF: 100;
}
.black {
	font-weight: 1000;
}
.bold {
	font-weight: 800;
}
.semibold {
	font-weight: 600;
}
.regular {
	font-weight: 400;
}
.light {
	font-weight: 200;
}
.thin {
	font-weight: 1;
}

.marquee-marq.reverse .marquee-marq-content {
	animation-direction: reverse;
	animation-delay: -500s;
}

.marquee-marq.paused .marquee-marq-content {
	animation-play-state: paused;
	opacity: 0;
}

@keyframes marquee-marq {
	to {
		transform: translateX(-100%);
	}
}
