.marquee-marq {
	background: var(--fraunces-yellow);
	color: var(--page-bg);
	user-select: none;
	pointer-events: none;
	overflow: hidden;
	display: flex;
	white-space: nowrap;
}

.marquee-marq-content {
	display: flex;
	align-items: center;
	height: var(--marquee-marq-height);
	font-size: 1.5rem;
	line-height: 1;
	opacity: 1;
	transition: opacity 2s;
	animation: marquee-marq 300s infinite linear;
}

.marquee-marq-content span {
	font-variation-settings: "opsz" var(--opsz), "SOFT" var(--SOFT),
		"WONK" var(--WONK);
	padding: 0 0.25em;
}

.marquee-marq.reverse .marquee-marq-content {
	animation-direction: reverse;
	animation-delay: -500s;
}

.marquee-marq.paused .marquee-marq-content {
	animation-play-state: paused;
	opacity: 0;
}

@keyframes marquee-marq {
	to {
		transform: translateX(-100%);
	}
}

/* All the different styles */
.marquee-marq-content .italic {
	font-style: italic;
}

.marquee-marq-content .sharp {
	--SOFT: 0;
}
.marquee-marq-content .soft {
	--SOFT: 50;
}
.marquee-marq-content .supersoft {
	--SOFT: 100;
}

.marquee-marq-content .opsz9pt {
	--opsz: 9;
}
.marquee-marq-content .opsz72pt {
	--opsz: 72;
}
.marquee-marq-content .opsz144pt {
	--opsz: 144;
}

.marquee-marq-content .black {
	font-weight: 900;
}
.marquee-marq-content .bold {
	font-weight: 700;
}
.marquee-marq-content .semibold {
	font-weight: 600;
}
.marquee-marq-content .regular {
	font-weight: 400;
}
.marquee-marq-content .light {
	font-weight: 300;
}
.marquee-marq-content .thin {
	font-weight: 100;
}
