.marquee-marq {
	background: var(--fraunces-yellow);
	color: var(--page-bg);
	user-select: none;
	pointer-events: none;
	overflow: hidden;
	display: flex;
	white-space: nowrap;
}

.marquee-marq-content {
	display: flex;
	align-items: center;
	height: 3rem;
	font-size: 1.5rem;
	line-height: 1;
	opacity: 1;
	transition: opacity 2s;
	animation: marquee-marq 300s infinite linear;
}

.marquee-marq-content span {
	padding: 0 0.125em;
}

.marquee-marq-content .italic {
	font-style: italic;
}

.marquee-marq-content .goofymin {
	--GOOF: 0;
}
.marquee-marq-content .goofymid {
	--GOOF: 50;
}
.marquee-marq-content .goofymax {
	--GOOF: 100;
}
.marquee-marq-content .black {
	font-weight: 900;
}
.marquee-marq-content .bold {
	font-weight: 700;
}
.marquee-marq-content .semibold {
	font-weight: 600;
}
.marquee-marq-content .regular {
	font-weight: 400;
}
.marquee-marq-content .light {
	font-weight: 300;
}
.marquee-marq-content .thin {
	font-weight: 100;
}

.marquee-marq.reverse .marquee-marq-content {
	animation-direction: reverse;
	animation-delay: -500s;
}

.marquee-marq.paused .marquee-marq-content {
	animation-play-state: paused;
	opacity: 0;
}

@keyframes marquee-marq {
	to {
		transform: translateX(-100%);
	}
}
