.opsz-demo {
	--offset: 50%;
	--width: 864px; /* Line up with prose content */

	/* Simulate .prose */
	--opsz: 13;
	--WONK: 1;

	font-weight: 300;
	font-size: 1.375rem;
	line-height: 1.25;
	position: relative;
	margin: 0 auto;
	width: var(--width);
	user-select: none;
}

.opsz-demo p {
	/* Simulate .prose */
	margin: 0 0 3rem 0;
	hyphens: auto;
}

.with-opsz,
.without-opsz {
	padding-top: 1rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	width: var(--width);
}

.opsz-demo h3 {
	font-size: 1.25rem;
	font-weight: bold;
	text-transform: uppercase;
	display: flex;
	align-items: center;
}

.without-opsz h3 {
	justify-content: flex-end;
}

.opsz-sticker {
	width: 6em;
	height: 6em;
	margin: 0 1em;
	animation: nod 2s infinite ease-in-out alternate;
}

.without-opsz .opsz-sticker {
	animation-delay: -750ms;
}

@keyframes nod {
	from {
		transform: rotate(-10deg);
	}
	to {
		transform: rotate(10deg);
	}
}

.with-opsz {
	font-optical-sizing: none;
	background: var(--fraunces-white);
}

.without-opsz {
	--opsz: 144;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.opsz-slider-window {
	position: relative;
	z-index: 1;
	overflow: hidden;
	width: var(--offset);
	border-right: 8px solid var(--fraunces-yellow);
}

.opsz-demo .happy,
.opsz-demo .sad {
	position: absolute;
	z-index: 1;
	width: 5em;
	height: 5em;
	bottom: 1em;
}

.opsz-demo .happy {
	left: -7.5rem;
}

.opsz-demo .sad {
	right: -7.5rem;
}

.opsz-slider-handle {
	position: absolute;
	width: 3rem;
	height: 3rem;
	background: var(--fraunces-yellow);
	background-image: url(../img/drag-pointers.svg);
	background-size: 1.75rem;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	left: var(--offset);
	top: 50%;
	transform: translate(calc(-50% - 4px), -50%);
	z-index: 2;
	cursor: grab;
}

.opsz-slider-handle.dragging {
	cursor: grabbing;
}

.opsz-text {
	border-top: 8px solid var(--fraunces-yellow);
	padding: 3rem 0 4rem 0;
}

.opsz-small {
	line-height: 1.375;
	font-size: 1rem;
}

.opsz-medium-with {
	--opsz: 72;

	font-size: 2.5rem;
}

.opsz-medium {
	font-size: 2.5rem;
}

.opsz-large {
	font-size: 7rem;
}

.opsz-large-with {
	--opsz: 144;

	font-size: 7rem;
}

@media screen and (max-width: 28rem) {
	.with-opsz,
	.without-opsz {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	.opsz-demo h3 {
		flex-direction: column-reverse;
	}

	.without-opsz h3 {
		flex-direction: column;
	}
}

@media screen and (max-width: 70em) {
	.opsz-demo .happy {
		left: 0;
	}

	.opsz-demo .sad {
		right: 0;
	}
}
