[type="range"] {
	--range: calc(var(--max) - var(--min));
	--ratio: calc((var(--val) - var(--min)) / var(--range));
	--sx: calc(0.5 * 3em + var(--ratio) * (100% - 3em));

	margin: 0;
	padding: 0;
	width: 100%;
	height: 3em;
	background: transparent;
	font: 1em/1 arial, sans-serif;
}
[type="range"],
[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
}
[type="range"]:focus {
	outline: none;
}
[type="range"]::-webkit-slider-runnable-track {
	box-sizing: border-box;
	border: none;
	width: 100%;
	height: 0.5em;
	background: black;
}
[type="range"]::-moz-range-track {
	box-sizing: border-box;
	border: none;
	width: 100%;
	height: 0.5em;
	background: black;
}
[type="range"]::-ms-track {
	box-sizing: border-box;
	border: none;
	width: 100%;
	height: 0.5em;
	background: black;
}
[type="range"]::-moz-range-progress {
	height: 0.5em;
	background: black;
}
[type="range"]::-ms-fill-lower {
	height: 0.5em;
	background: black;
}
[type="range"]::-webkit-slider-thumb {
	margin-top: -1.25em;
	box-sizing: border-box;
	width: 3em;
	height: 3em;
	border-radius: 50%;
	background: white;
	border: 0.5em solid var(--fraunces-yellow);
}
[type="range"]::-moz-range-thumb {
	box-sizing: border-box;
	width: 3em;
	height: 3em;
	border-radius: 50%;
	background: white;
	border: 0.5em solid var(--fraunces-yellow);
}
[type="range"]::-ms-thumb {
	margin-top: 0;
	box-sizing: border-box;
	width: 3em;
	height: 3em;
	border-radius: 50%;
	background: white;
	border: 0.5em solid var(--fraunces-yellow);
}
[type="range"]::-ms-tooltip {
	display: none;
}
[type="range"].dark::-webkit-slider-runnable-track {
	background: var(--fraunces-yellow);
}
[type="range"].dark::-moz-range-track {
	background: var(--fraunces-yellow);
}
[type="range"].dark::-ms-track {
	background: var(--fraunces-yellow);
}
[type="range"].dark::-webkit-slider-thumb {
	background: white;
	border-color: black;
}
[type="range"].dark::-moz-range-thumb {
	background: white;
	border-color: black;
}
[type="range"].dark::-ms-thumb {
	background: white;
	border-color: black;
}
