.soft-demo {
	padding: 6rem 0 4rem 0;
	background: var(--fraunces-yellow);
	position: relative;
}

.soft-demo-slider {
	max-width: 40rem;
	margin: 0 auto;
	padding: 0 2rem;
	text-align: center;
}

.soft-demo-slider label {
	font-weight: 900;
	display: block;
	font-size: 1.5rem;
}

.soft-demo-text {
	--SOFT: 100;

	font-weight: 900;
	line-height: 1;
	text-align: center;
	font-size: 12vw;
	margin-bottom: 3rem;
	color: var(--fraunces-white);
}

.soft-demo .a-touch-of-class-sticker {
	position: absolute;
	top: 15%;
	right: 9%;
	width: 12em;
	height: 12em;
	transform: rotate(12deg);
	pointer-events: none;
}

@media screen and (max-width: 64rem) {
	.soft-demo .a-touch-of-class-sticker {
		right: 5%;
		width: 10em;
		height: 10em;
	}
}

@media screen and (max-width: 48rem) {
	.soft-demo .a-touch-of-class-sticker {
		top: 4%;
		right: 7%;
		width: 6em;
		height: 6em;
	}
}

@media screen and (max-width: 32rem) {
	.soft-demo-slider {
		max-width: 50vw;
		padding: 0;
	}

	.soft-demo-text {
		font-size: 15vw;
	}
}
