.sticker-hero {
	background: var(--fraunces-black);
	min-height: calc(100vh - var(--header-height) - var(--marquee-marq-height));
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	font-size: 3.5vw;
	position: relative;
	z-index: 1000;
}

.sticker-hero h1 {
	--opsz: 144;
	--WONK: 1;
	--GOOF: 100;

	font-weight: 900;
	color: var(--fraunces-white);
	margin: 0;
	margin-top: 25px;
	line-height: 1;
}

.sticker-hero span {
	display: block;
	font-size: 165%;
}

.sticker-hero h2 {
	--opsz: 144;
	--WONK: 1;

	font-weight: 300;
	color: var(--fraunces-yellow);
	margin: 0.5em 0 1em 0;
	line-height: 1.1;
}

.sticker {
	--x: 0;
	--y: 0;
	--tilt: 0;

	position: absolute;
	top: 0;
	left: 0;
	transform: translate(var(--x), var(--y)) translate(-50%, -50%)
		rotate(var(--tilt));
	transition: filter 100ms;
	user-select: none;
	background-size: 100% 100%;
	cursor: grab;
	filter: drop-shadow(1.5px 1.5px 1px rgba(0, 0, 0, 0.1));
}

.sticker.dragging {
	cursor: grabbing;
	filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.2));
}

.sticker-1 {
	background-image: url("../img/hero-stickers-01.svg");
	width: 20vmax;
	height: 6vmax;
}

.sticker-2 {
	background-image: url("../img/hero-stickers-02.svg");
	width: 12vmax;
	height: 12vmax;
}

.sticker-3 {
	background-image: url("../img/hero-stickers-03.svg");
	width: 13vmax;
	height: 8vmax;
}

.sticker-4 {
	background-image: url("../img/hero-stickers-04.svg");
	width: 15vmax;
	height: 8vmax;
}

.sticker-5 {
	background-image: url("../img/hero-stickers-05.svg");
	width: 10vmax;
	height: 10vmax;
}

.sticker-6 {
	background-image: url("../img/hero-stickers-06.svg");
	width: 8vmax;
	height: 8vmax;
}

.sticker-7 {
	background-image: url("../img/hero-stickers-07.svg");
	width: 20vmax;
	height: 8vmax;
}

@media screen and (max-width: 52rem) {
	.sticker-hero {
		font-size: 6vw;
	}
}
