.thank-you {
	padding: 6rem 0 6.25rem 0;
	background: var(--fraunces-black);
}

.thank-you-sliders {
	display: flex;
	max-width: 56rem;
	margin: 0 auto;
	text-align: center;
}

.thank-you-sliders li {
	flex: auto;
	padding: 0 1rem;
	color: var(--fraunces-yellow);
}

.thank-you-sliders label {
	--GOOF: 100;

	font-weight: 900;
	display: block;
	font-size: 1.25rem;
}

.thank-you-demo-text-container {
	position: relative;
}

.thank-you-sticker {
	position: absolute;
	bottom: 1em;
	left: 15%;
	width: 6em;
	height: 6em;
	transform: rotate(12deg);
	pointer-events: none;
}

.thank-you-demo-text {
	line-height: 1;
	text-align: center;
	font-size: 12vw;
	margin-bottom: 6rem;
	color: var(--fraunces-white);
}

/* Addressing the wght axis directly, so apply the
   font-variation-settings specifically for this demo */
.thank-you-demo-text,
.thank-you-demo-text * {
	font-variation-settings: "opsz" var(--opsz), "wght" var(--wght),
		"GOOF" var(--GOOF), "WONK" var(--WONK);
}

@media screen and (max-width: 52rem) {
	.thank-you-sliders {
		flex-direction: column;
		padding: 0 16vw;
	}

	.thank-you-sliders label {
		margin-bottom: 1.5rem;
	}

	.thank-you-sticker {
		bottom: 0;
		left: 10%;
	}
}
