.wonk-demo {
	padding: 6rem 0 4rem 0;
	background: var(--fraunces-black);
	color: var(--fraunces-yellow);
}

.wonk-demo-slider {
	max-width: 20rem;
	margin: 0 auto;
	padding: 2rem 0;
	text-align: center;
}

.wonk-demo-slider label {
	font-weight: 900;
	display: block;
	font-size: 1.5rem;
}

.wonk-demo-text {
	--WONK: 0;
	--opsz: 15;

	font-weight: 900;
	line-height: 1;
	text-align: center;
	font-size: 14vw;
	color: var(--fraunces-white);
}

@media screen and (max-width: 32rem) {
	.wonk-demo-slider {
		max-width: 50vw;
		padding: 1rem 0 3rem 0;
	}
}
